<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Статистика</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div th:insert="index/header :: header"></div>
<div class="container mt-5">
    <div th:each="mt : ${match}">
        <center><h1>Матч №<span th:text="${mt.idMatch}"></span></h1>
            <h2><span th:text="${mt.dateMatch}"></span> <span th:text="${mt.timeMatch}"></span></h2>
        <h2>idTeamHome: <span th:text="${mt.teamHome}"></span> - idTeamGuest: <span th:text="${mt.teamGuest}"></span></h2>
        <h2><span th:each="th : ${team_home}" th:text="${th.nameTeam}"></span> - <span th:each="tg : ${team_guest}" th:text="${tg.nameTeam}"></span></h2>
        <h2><span th:text="${mt.scoreHome}"></span> : <span th:text="${mt.scoreGuest}"></span></h2></center>
        <h2>Последние 10 матчей <span th:each="th : ${team_home}" th:text="${th.nameTeam}"></span></h2>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время</th>
                    <th scope="col">id team_home</th>
                    <th scope="col">Хозяева</th>
                    <th scope="col">id team_guest</th>
                    <th scope="col">Гости</th>
                    <th scope="col">Счёт матча</th>
                    <th scope="col">Данные матча</th>
                </tr>
                </thead>
                <form method="post">
                    <tbody>
                    <tr th:each="m, itemStat : ${last_home}">
                        <td th:text="${m.idMatch}"></td>
                        <td th:text="${m.dateMatch}"></td>
                        <td th:text="${m.timeMatch}"></td>
                        <td th:text="${m.teamHome}"></td>
                        <td th:each="tm : ${home_table_home[__${itemStat.index}__]}" th:text="${tm.nameTeam}"></td>
                        <td th:text="${m.teamGuest}"></td>
                        <td th:each="tm : ${home_table_guest[__${itemStat.index}__]}" th:text="${tm.nameTeam}"></td>
                        <td th:text="${m.scoreHome} + ' : ' + ${m.scoreGuest}"></td>
                        <td><a th:href="'/match/' + ${m.idMatch} + '/0'" class="btn btn-light">Подробнее</a></td>
                    </tr>
                    </tbody>
                </form>
            </table>
        </div>
        <h2>Последние 10 матчей <span th:each="tg : ${team_guest}" th:text="${tg.nameTeam}"></span></h2>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время</th>
                    <th scope="col">id team_home</th>
                    <th scope="col">Хозяева</th>
                    <th scope="col">id team_guest</th>
                    <th scope="col">Гости</th>
                    <th scope="col">Счёт матча</th>
                    <th scope="col">Данные матча</th>
                </tr>
                </thead>
                <form method="post">
                    <tbody>
                    <tr th:each="m, itemStat : ${last_guest}">
                        <td th:text="${m.idMatch}"></td>
                        <td th:text="${m.dateMatch}"></td>
                        <td th:text="${m.timeMatch}"></td>
                        <td th:text="${m.teamHome}"></td>
                        <td th:each="tm : ${guest_table_home[__${itemStat.index}__]}" th:text="${tm.nameTeam}"></td>
                        <td th:text="${m.teamGuest}"></td>
                        <td th:each="tm : ${guest_table_guest[__${itemStat.index}__]}" th:text="${tm.nameTeam}"></td>
                        <td th:text="${m.scoreHome} + ' : ' + ${m.scoreGuest}"></td>
                        <td><a th:href="'/match/' + ${m.idMatch} + '/0'" class="btn btn-light">Подробнее</a></td>
                    </tr>
                    </tbody>
                </form>
            </table>
        </div><br><br>
        <h2>Статистика последних 10 матчей <span th:each="tg : ${team_home}" th:text="${tg.nameTeam}"></span></h2>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <form method="post">
                    <tbody>
                    <tr>
                        <th class="w-75"></th>
                        <th th:each="th : ${team_home}" th:text="${th.nameTeam}"></th>
                        <th>Против <span th:each="th : ${team_home}" th:text="${th.nameTeam}"></span></th>
                        <th>Всего</th>
                    </tr>
                    <tr>
                        <th>Владение</th>
                        <td th:text="${possession_home_stat_table_home}"></td>
                        <td th:text="${possession_away_stat_table_home}"></td>
                        <td th:text="${possession_home_stat_table_home} + ${possession_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Удары</th>
                        <td th:text="${shots_home_stat_table_home}"></td>
                        <td th:text="${shots_away_stat_table_home}"></td>
                        <td th:text="${shots_home_stat_table_home} + ${shots_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Удары в створ</th>
                        <td th:text="${shots_on_target_home_stat_table_home}"></td>
                        <td th:text="${shots_on_target_away_stat_table_home}"></td>
                        <td th:text="${shots_on_target_home_stat_table_home} + ${shots_on_target_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Угловые</th>
                        <td th:text="${corners_home_stat_table_home}"></td>
                        <td th:text="${corners_away_stat_table_home}"></td>
                        <td th:text="${corners_home_stat_table_home} + ${corners_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Штрафные удары</th>
                        <td th:text="${free_kicks_home_stat_table_home}"></td>
                        <td th:text="${free_kicks_away_stat_table_home}"></td>
                        <td th:text="${free_kicks_home_stat_table_home} + ${free_kicks_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Оффсайды</th>
                        <td th:text="${offsides_home_stat_table_home}"></td>
                        <td th:text="${offsides_away_stat_table_home}"></td>
                        <td th:text="${offsides_home_stat_table_home} + ${offsides_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Жёлтые карточки</th>
                        <td th:text="${yellow_card_home_stat_table_home}"></td>
                        <td th:text="${yellow_card_away_stat_table_home}"></td>
                        <td th:text="${yellow_card_home_stat_table_home} + ${yellow_card_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Красные карточки</th>
                        <td th:text="${red_card_home_stat_table_home}"></td>
                        <td th:text="${red_card_away_stat_table_home}"></td>
                        <td th:text="${red_card_home_stat_table_home} + ${red_card_away_stat_table_home}"></td>
                    </tr>
                    <tr>
                        <th>Фолы</th>
                        <td th:text="${fouls_home_stat_table_home}"></td>
                        <td th:text="${fouls_away_stat_table_home}"></td>
                        <td th:text="${fouls_home_stat_table_home} + ${fouls_away_stat_table_home}"></td>
                    </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div><br><br>
    <h2>Статистика последних 10 матчей <span th:each="tg : ${team_guest}" th:text="${tg.nameTeam}"></span></h2>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <form method="post">
                <tbody>
                <tr>
                    <th class="w-75"></th>
                    <th>Против <span th:each="th : ${team_guest}" th:text="${th.nameTeam}"></span></th>
                    <th th:each="th : ${team_guest}" th:text="${th.nameTeam}"></th>
                    <th>Всего</th>
                </tr>
                <tr>
                    <th>Владение</th>
                    <td th:text="${possession_home_stat_table_away}"></td>
                    <td th:text="${possession_away_stat_table_away}"></td>
                    <td th:text="${possession_home_stat_table_away} + ${possession_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Удары</th>
                    <td th:text="${shots_home_stat_table_away}"></td>
                    <td th:text="${shots_away_stat_table_away}"></td>
                    <td th:text="${shots_home_stat_table_away} + ${shots_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Удары в створ</th>
                    <td th:text="${shots_on_target_home_stat_table_away}"></td>
                    <td th:text="${shots_on_target_away_stat_table_away}"></td>
                    <td th:text="${shots_on_target_home_stat_table_away} + ${shots_on_target_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Угловые</th>
                    <td th:text="${corners_home_stat_table_away}"></td>
                    <td th:text="${corners_away_stat_table_away}"></td>
                    <td th:text="${corners_home_stat_table_away} + ${corners_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Штрафные удары</th>
                    <td th:text="${free_kicks_home_stat_table_away}"></td>
                    <td th:text="${free_kicks_away_stat_table_away}"></td>
                    <td th:text="${free_kicks_home_stat_table_away} + ${free_kicks_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Оффсайды</th>
                    <td th:text="${offsides_home_stat_table_away}"></td>
                    <td th:text="${offsides_away_stat_table_away}"></td>
                    <td th:text="${offsides_home_stat_table_away} + ${offsides_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Жёлтые карточки</th>
                    <td th:text="${yellow_card_home_stat_table_away}"></td>
                    <td th:text="${yellow_card_away_stat_table_away}"></td>
                    <td th:text="${yellow_card_home_stat_table_away} + ${yellow_card_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Красные карточки</th>
                    <td th:text="${red_card_home_stat_table_away}"></td>
                    <td th:text="${red_card_away_stat_table_away}"></td>
                    <td th:text="${red_card_home_stat_table_away} + ${red_card_away_stat_table_away}"></td>
                </tr>
                <tr>
                    <th>Фолы</th>
                    <td th:text="${fouls_home_stat_table_away}"></td>
                    <td th:text="${fouls_away_stat_table_away}"></td>
                    <td th:text="${fouls_home_stat_table_away} + ${fouls_away_stat_table_away}"></td>
                </tr>
                </tbody>
            </form>
        </table>
    </div>
<!--        <a th:href="'/match/' + ${m.idMatch} + '/0'" class="btn btn-warning">Матч</a>-->
<!--        <a th:href="'/match/' + ${m.idMatch} + '/1'" class="btn btn-warning">1-й тайм</a>-->
<!--        <a th:href="'/match/' + ${m.idMatch} + '/2'" class="btn btn-warning">2-й тайм</a><br><br>-->
<!--        <a th:href="'/match/' + ${m.idMatch} + '/edit/0'" class="btn btn-light">Редактировать</a><br><br>-->
<!--        <form th:action="'/match/' + ${m.idMatch} + '/delete'" method="post">-->
<!--            <button class="btn btn-light" type="submit">Удалить</button>-->
<!--        </form>-->
<!--    </div>-->
</div>


<div th:insert="index/footer :: footer"></div>
</body>
</html>