<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Детали матча</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div th:insert="index/header :: header"></div>

<div class="container mt-5">
    <div th:each="m : ${match}">
        <h1>Матч №<span th:text="${m.idMatch}"></span></h1>
        <h1><span th:text="${m.teamHome}"></span> - <span th:text="${m.teamGuest}"></span></h1>
        <h1><span th:text="${m.scoreHome}"></span> : <span th:text="${m.scoreGuest}"></span></h1>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <form method="post">
                    <tbody th:each="m : ${match}">
                    <tr>
                        <th></th>
                        <th>Manchester City</th>
                        <th>Arsenal</th>
                        <th>Всего</th>
                    </tr>
                    <tr>
                        <th>Владение</th>
                        <td th:text="${m.possessionExtraHalfHome}"></td>
                        <td th:text="${m.possessionExtraHalfGuest}"></td>
                        <td th:text="${m.possessionExtraHalfHome} + ${m.possessionExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Удары</th>
                        <td th:text="${m.shotExtraHalfHome}"></td>
                        <td th:text="${m.shotExtraHalfGuest}"></td>
                        <td th:text="${m.shotExtraHalfHome} + ${m.shotExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Удары в створ</th>
                        <td th:text="${m.shotOnTargetExtraHalfHome}"></td>
                        <td th:text="${m.shotOnTargetExtraHalfGuest}"></td>
                        <td th:text="${m.shotOnTargetExtraHalfHome} + ${m.shotOnTargetExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Угловые</th>
                        <td th:text="${m.cornerExtraHalfHome}"></td>
                        <td th:text="${m.cornerExtraHalfGuest}"></td>
                        <td th:text="${m.cornerExtraHalfHome} + ${m.cornerExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Штрафные удары</th>
                        <td th:text="${m.freeKickExtraHalfHome}"></td>
                        <td th:text="${m.freeKickExtraHalfGuest}"></td>
                        <td th:text="${m.freeKickExtraHalfHome} + ${m.freeKickExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Оффсайды</th>
                        <td th:text="${m.offsideExtraHalfHome}"></td>
                        <td th:text="${m.offsideExtraHalfGuest}"></td>
                        <td th:text="${m.offsideExtraHalfHome} + ${m.offsideExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Жёлтые карточки</th>
                        <td th:text="${m.yellowCardExtraHalfHome}"></td>
                        <td th:text="${m.yellowCardExtraHalfGuest}"></td>
                        <td th:text="${m.yellowCardExtraHalfHome} + ${m.yellowCardExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Красные карточки</th>
                        <td th:text="${m.redCardExtraHalfHome}"></td>
                        <td th:text="${m.redCardExtraHalfGuest}"></td>
                        <td th:text="${m.redCardExtraHalfHome} + ${m.redCardExtraHalfGuest}"></td>
                    </tr>
                    <tr>
                        <th>Фолы</th>
                        <td th:text="${m.foulExtraHalfHome}"></td>
                        <td th:text="${m.foulExtraHalfGuest}"></td>
                        <td th:text="${m.foulExtraHalfHome} + ${m.foulExtraHalfGuest}"></td>
                    </tr>
                    </tbody>
                </form>
            </table>
        </div>
        <a th:href="'/match/' + ${m.idMatch} + '/0'" class="btn btn-warning">Матч</a>
        <a th:href="'/match/' + ${m.idMatch} + '/1'" class="btn btn-warning">1-й тайм</a>
        <a th:href="'/match/' + ${m.idMatch} + '/2'" class="btn btn-warning">2-й тайм</a><br><br>
        <a th:href="'/match/' + ${m.idMatch} + '/edit/3'" class="btn btn-light">Редактировать</a><br><br>
        <form th:action="'/match/' + ${m.idMatch} + '/delete'" method="post">
            <button class="btn btn-light" type="submit">Удалить</button>
        </form>
    </div>
</div>


<div th:insert="index/footer :: footer"></div>
</body>
</html>