<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Данные сезона</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div th:insert="index/header :: header"></div>

<div class="container mt-5">
    <div th:each="l : ${league}">
        <h1>Сезон <span th:text="${l.countryLeague}"></span> <span th:text="${l.nameLeague}"></span></h1>
        <h1>Расчет среднего значения формы команд за последние 10 лет</h1>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">Позиция</th>
                    <th scope="col">Команда</th>
                    <th scope="col">Очки</th>
                    <th scope="col">Форма</th>
                    <th scope="col">Уровень команды</th>
                </tr>
                </thead>
                <form method="post">
                    <tbody>
                        <div th:if="${s.levelFirstPlace < 6}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelFirstPlace > 5}">
                            <tr bgcolor="#FFAE00">
                        </div>
                            <td>1</td>
                            <td th:each="tm : ${team1}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreFirstPlace}"></td>
                            <td th:text="${s.formFirstPlace}"></td>
                            <td th:text="${s.levelFirstPlace}"></td>
                        </tr>
                        <div th:if="${s.levelSecondPlace < 6}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelSecondPlace > 5}">
                            <tr bgcolor="#FFAE00">
                        </div>
                            <td>2</td>
                            <td th:each="tm2 : ${team2}" th:text="${tm2.nameTeam}"></td>
                            <td th:text="${s.scoreSecondPlace}"></td>
                            <td th:text="${s.formSecondPlace}"></td>
                            <td th:text="${s.levelSecondPlace}"></td>
                        </tr>
                        <div th:if="${s.levelThirdPlace < 6}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelThirdPlace > 5}">
                            <tr bgcolor="#FFAE00">
                        </div>
                            <td>3</td>
                            <td th:each="tm : ${team3}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreThirdPlace}"></td>
                            <td th:text="${s.formThirdPlace}"></td>
                            <td th:text="${s.levelThirdPlace}"></td>
                        </tr>
                        <div th:if="${s.levelFouthPlace < 6}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelFouthPlace == 6}">
                            <tr bgcolor="#FFAE00">
                        </div>
                            <td>4</td>
                            <td th:each="tm : ${team4}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreFouthPlace}"></td>
                            <td th:text="${s.formFouthPlace}"></td>
                            <td th:text="${s.levelFouthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelFifthPlace < 5}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelFifthPlace > 5}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelFifthPlace == 5}">
                            <tr bgcolor="#DF67FF">
                        </div>
                            <td>5</td>
                            <td th:each="tm : ${team5}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreFifthPlace}"></td>
                            <td th:text="${s.formFifthPlace}"></td>
                            <td th:text="${s.levelFifthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelSixthPlace < 5}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelSixthPlace > 5}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelSixthPlace == 5}">
                            <tr bgcolor="#DF67FF">
                        </div>
                            <td>6</td>
                            <td th:each="tm : ${team6}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreSixthPlace}"></td>
                            <td th:text="${s.formSixthPlace}"></td>
                            <td th:text="${s.levelSixthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelSeventhPlace < 5}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelSeventhPlace > 5}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelSeventhPlace == 5}">
                            <tr bgcolor="#DF67FF">
                        </div>
                            <td>7</td>
                            <td th:each="tm : ${team7}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreSeventhPlace}"></td>
                            <td th:text="${s.formSeventhPlace}"></td>
                            <td th:text="${s.levelSeventhPlace}"></td>
                        </tr>
                        <div th:if="${s.levelEighthPlace < 4}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelEighthPlace > 4}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelEighthPlace == 4}">
                            <tr bgcolor="#78CBD8">
                        </div>
                            <td>8</td>
                            <td th:each="tm : ${team8}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreEighthPlace}"></td>
                            <td th:text="${s.formEighthPlace}"></td>
                            <td th:text="${s.levelEighthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelNinthPlace < 4}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelNinthPlace > 4}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelNinthPlace == 4}">
                            <tr bgcolor="#78CBD8">
                        </div>
                            <td>9</td>
                            <td th:each="tm : ${team9}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreNinthPlace}"></td>
                            <td th:text="${s.formNinthPlace}"></td>
                            <td th:text="${s.levelNinthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelTenthPlace < 4}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelTenthPlace > 4}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelTenthPlace == 4}">
                            <tr bgcolor="#78CBD8">
                        </div>
                            <td>10</td>
                            <td th:each="tm : ${team10}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreTenthPlace}"></td>
                            <td th:text="${s.formTenthPlace}"></td>
                            <td th:text="${s.levelTenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelEleventhPlace < 3}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelEleventhPlace > 3}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelEleventhPlace == 3}">
                            <tr bgcolor="#B8FFA1">
                        </div>
                            <td>11</td>
                            <td th:each="tm : ${team11}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreEleventhPlace}"></td>
                            <td th:text="${s.formEleventhPlace}"></td>
                            <td th:text="${s.levelEleventhPlace}"></td>
                        </tr>
                        <div th:if="${s.levelTwelfthPlace < 3}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelTwelfthPlace > 3}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelTwelfthPlace == 3}">
                            <tr bgcolor="#B8FFA1">
                        </div>
                            <td>12</td>
                            <td th:each="tm : ${team12}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreTwelfthPlace}"></td>
                            <td th:text="${s.formTwelfthPlace}"></td>
                            <td th:text="${s.levelTwelfthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelThirteenthPlace < 3}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelThirteenthPlace > 3}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelThirteenthPlace == 3}">
                            <tr bgcolor="#B8FFA1">
                        </div>
                            <td>13</td>
                            <td th:each="tm : ${team13}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreThirteenthPlace}"></td>
                            <td th:text="${s.formThirteenthPlace}"></td>
                            <td th:text="${s.levelThirteenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelFourteenthPlace < 2}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelFourteenthPlace > 2}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelFourteenthPlace == 2}">
                            <tr bgcolor="#D5DB56">
                        </div>
                            <td>14</td>
                            <td th:each="tm : ${team14}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreFourteenthPlace}"></td>
                            <td th:text="${s.formFourteenthPlace}"></td>
                            <td th:text="${s.levelFourteenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelFifteenthPlace < 2}">
                            <tr bgcolor="#00F3FF">
                        </div>
                        <div th:if="${s.levelFifteenthPlace > 2}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelFifteenthPlace == 2}">
                            <tr bgcolor="#D5DB56">
                        </div>
                            <td>15</td>
                            <td th:each="tm : ${team15}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreFifteenthPlace}"></td>
                            <td th:text="${s.formFifteenthPlace}"></td>
                            <td th:text="${s.levelFifteenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelSixteenthPlace > 1}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelSixteenthPlace == 1}">
                            <tr bgcolor="#FF8888">
                        </div>
                            <td>16</td>
                            <td th:each="tm : ${team16}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreSixteenthPlace}"></td>
                            <td th:text="${s.formSixteenthPlace}"></td>
                            <td th:text="${s.levelSixteenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelSeventeenthPlace > 1}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelSeventeenthPlace == 1}">
                            <tr bgcolor="#FF8888">
                        </div>
                            <td>17</td>
                            <td th:each="tm : ${team17}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreSeventeenthPlace}"></td>
                            <td th:text="${s.formSeventeenthPlace}"></td>
                            <td th:text="${s.levelSeventeenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelEighteenthPlace > 1}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelEighteenthPlace <= 1}">
                            <tr bgcolor="#FF8888">
                        </div>
                            <td>18</td>
                            <td th:each="tm : ${team18}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreEighteenthPlace}"></td>
                            <td th:text="${s.formEighteenthPlace}"></td>
                            <td th:text="${s.levelEighteenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelNineteenthPlace > 1}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelNineteenthPlace <= 1}">
                            <tr bgcolor="#FF8888">
                        </div>
                            <td>19</td>
                            <td th:each="tm : ${team19}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreNineteenthPlace}"></td>
                            <td th:text="${s.formNineteenthPlace}"></td>
                            <td th:text="${s.levelNineteenthPlace}"></td>
                        </tr>
                        <div th:if="${s.levelTwentiethPlace > 1}">
                            <tr bgcolor="#BABABA">
                        </div>
                        <div th:if="${s.levelTwentiethPlace <= 1}">
                            <tr bgcolor="#FF8888">
                        </div>
                            <td>20</td>
                            <td th:each="tm : ${team20}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${s.scoreTwentiethPlace}"></td>
                            <td th:text="${s.formTwentiethPlace}"></td>
                            <td th:text="${s.levelTwentiethPlace}"></td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
    <a th:href="'/season/' + ${s.idSeason} + '/edit'" class="btn btn-light">Редактировать сезон</a><br><br>
<!--    <form th:action="'/season/' + ${s.idSeason} + '/delete'" method="post">-->
        <button class="btn btn-light" type="submit">Удалить сезон</button>
<!--    </form>-->
    </div>
</div>

<div th:insert="index/footer :: footer"></div>
</body>
</html>