<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Данные сезона</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div th:insert="index/header :: header"></div>

<div class="container mt-5">
    <div th:each="l : ${league}">
        <h1>Сезон <span th:text="${l.countryLeague}"></span> <span th:text="${l.nameLeague}"></span></h1>
        <h1>Расчет среднего значения формы команд за последние 10 лет</h1>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">Позиция</th>
                    <th scope="col">Команда</th>
                    <th scope="col">Средняя позиция</th>
                    <th scope="col">Среднее кол-во очков</th>
                </tr>
                </thead>
                <form method="post">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td th:each="tm : ${team1}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam1}"></td>
                            <td th:text="${scoreTeam1}"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td th:each="tm : ${team2}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam2}"></td>
                            <td th:text="${scoreTeam2}"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td th:each="tm : ${team3}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam3}"></td>
                            <td th:text="${scoreTeam3}"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td th:each="tm : ${team4}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam4}"></td>
                            <td th:text="${scoreTeam4}"></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td th:each="tm : ${team5}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam5}"></td>
                            <td th:text="${scoreTeam5}"></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td th:each="tm : ${team6}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam6}"></td>
                            <td th:text="${scoreTeam6}"></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td th:each="tm : ${team7}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam7}"></td>
                            <td th:text="${scoreTeam7}"></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td th:each="tm : ${team8}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam8}"></td>
                            <td th:text="${scoreTeam8}"></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td th:each="tm : ${team9}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam9}"></td>
                            <td th:text="${scoreTeam9}"></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td th:each="tm : ${team10}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam10}"></td>
                            <td th:text="${scoreTeam10}"></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td th:each="tm : ${team11}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam11}"></td>
                            <td th:text="${scoreTeam11}"></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td th:each="tm : ${team12}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam12}"></td>
                            <td th:text="${scoreTeam12}"></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td th:each="tm : ${team13}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam13}"></td>
                            <td th:text="${scoreTeam13}"></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td th:each="tm : ${team14}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam14}"></td>
                            <td th:text="${scoreTeam14}"></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td th:each="tm : ${team15}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam15}"></td>
                            <td th:text="${scoreTeam15}"></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td th:each="tm : ${team16}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam16}"></td>
                            <td th:text="${scoreTeam16}"></td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td th:each="tm : ${team17}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam17}"></td>
                            <td th:text="${scoreTeam17}"></td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td th:each="tm : ${team18}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam18}"></td>
                            <td th:text="${scoreTeam18}"></td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td th:each="tm : ${team19}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam19}"></td>
                            <td th:text="${scoreTeam19}"></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td th:each="tm : ${team20}" th:text="${tm.nameTeam}"></td>
                            <td th:text="${positionTeam20}"></td>
                            <td th:text="${scoreTeam20}"></td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
<!--    <a th:href="'/season/' + ${s.idSeason} + '/edit'" class="btn btn-light">Редактировать сезон</a><br><br>-->
<!--    <form th:action="'/season/' + ${s.idSeason} + '/delete'" method="post">-->
<!--        <button class="btn btn-light" type="submit">Удалить сезон</button>-->
<!--    </form>-->
    </div>
</div>

<div th:insert="index/footer :: footer"></div>
</body>
</html>